# This is Git's per-user configuration file.
[user]
	name = widmogrod
	email = widmogrod@gmail.com
    signingkey = F796865241E693B3
[credential]
	helper = osxkeychain
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = gpg
