# This is Git's per-user configuration file.
[user]
	name = widmogrod
	email = widmogrod@gmail.com
    signingkey = DBE11395AFF5A548
[credential]
	helper = osxkeychain
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = gpg
