# This is Git's per-user configuration file.
[user]
	name = widmogrod
	email = widmogrod@gmail.com
    signingkey = "/Users/gabrielhabryn/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/12d621cfbace7b926be87bc9ddd21145.pub"
[credential]
	helper = osxkeychain
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
    gpgSign = true
[gpg]
    format = ssh
[tag]
	gpgSign = true
